@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
  font-size: 1rem !important;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-family: "Montserrat", sans-serif;
}

.toastBody {
  font-family: "Montserrat", sans-serif;
} 